.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: green;
    overflow: hidden;
}

.block_input {
    transform: translateX(150px);
    width: 100px;
    background-color: bisque;
    border: 2px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
}

.block_input:hover {
    border-color: blue;
}

.block_div-spirit {
    transform: translateX(200px);
}

.animation {
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}