.wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 120px;
    margin: 300px auto 0;
}

.emoji-block {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 70px;
    margin: 0 auto;
}

.emoji {
    width: 70px;
    height: 70px;
}

.counter {
    display: flex;
    margin: 0 auto;
    width: 415px;
}

.counter-style {
    width: 100px;
    text-align: center;
}