.wrapper {
    width: 100%;
    height: 1000px;
    background-color: white;
    padding-top: 20px;
}

.table-style {
    margin: 0 auto 30px;
    width: 50%;
}

tbody {
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid black;
}
