.form-modal-opened {
    display: block;
    width: 100%;
    height: 900px;
}

.form-style {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 300px auto;
    width: 90%;
    background: white;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px;
}

input {
    width: 50%;
    margin: 0 0 20px 50px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-bottom: 10px;
}

.button-form {
    margin-right: 10px !important;
}